:root {
    --primary-color: #da6a05;
    --secondary-color: #ff8c00;
    --burnt-yellow: #eead2d;
    --carrot: #ed9121;
    --golden: #daa520;
    --amber: #ffbf00;
    --beige: #f5f5dc;
    --jade: #00a86b;
    --garnet: #831d1c;
    --herbal: #2e8b57;
    --hollywood-cerise: #f400a1;
    --quantum: #111111;
    --naval: #000080;
    --midnight-blue: #191970;
    --dark-blue: #00008b;
    --matte-gray: #696969;
}