
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #fff;
    background: #111;
    font-family: 'Poppins',sans-serif;
}

@keyframes animBack {
    0% {
        top: -60px;
    }
    100% {
        top: 120%;
    }
}


.container{
    width: 100%;
    min-height: 100vh;
    backdrop-filter: blur(1px);
    pointer-events: none;
}

.container nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0 40px;
    height: 100px;
    align-items: center;
}

.container nav h1 {
    font-size: 2.6em;
    color: #fff;
    position: relative;
    cursor: pointer;
    pointer-events: all;
    letter-spacing: 4px;
}

.container nav h1 span {
    color: #da6a05;
}

.container nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 20px;
}

.container nav ul li {
    position: relative;
    font-size: 1.5em;
    font-weight: 400;
    padding: 12px 18px;
    cursor: pointer;
    pointer-events: all;
    overflow: hidden;
}

.container nav ul li::after{
    content: '';
    position: absolute;
    bottom: 5px;
    width: 0%;
    height: 3px;
    left: 50%;
    background: #da6a05;
    transform: translateX(-50%);
    transition: .3s;
}

.container nav ul li:hover a {
    color: #da6a05;
}

.container nav ul li:hover::after {
    width: 80%;
}

.container section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 100px);
    text-align: center;
    pointer-events: none;
}

.textBox h1{
    font-size: 3.4em;
}

.textBox h1 span {
    color: #da6a05;
}

.musica {
    color: #da6a05;
}

.textBox p {
    font-size: 1.2em;
}

.textBox .homeBtn {
    font-family: 'Poppins';
    padding: 8px 18px;
    margin: 16px 12px;
    font-size: 26px;
    background-color: transparent;
    color: var(--i);
    outline: none;
    border: 3px solid var(--i);
    border-radius: 4px;
    cursor: pointer;
    pointer-events: all;
    transition: .3s;
    font-weight: 600;
}

.textBox .homeBtn:hover {
    background-color: var(--i);
    color: #000;
}

.bgAnimation{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(20,1fr);
    grid-template-rows: repeat(20,1fr);
    background: #1d1d1d;
    filter: saturate(2);
    overflow: hidden;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
}

.card {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    padding: 30px;
    width: clamp(280px, 30%, 350px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5px);
    text-align: left;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    pointer-events: auto;
}

@keyframes animBack {
    0%{
        top: -60px;
    }
    100%{
        top: 120%;
    }
}
