<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Corsona{% endblock %}</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/global.css') }}"
    />
    <link rel="icon" type="image/svg+xml" href="{{ url_for('static', filename='images/logos/logo6.svg') }}">
    {% block head_css %}{% endblock %}
  </head>
  <body>
    <header class="logo-container">
      <img
        src="{{ url_for('static', filename='images/logos/logo3.svg') }}"
        alt="Corsona Logo"
      />
    </header>

    <main class="page-content">
      {% block content %}{% endblock %}
    </main>

    <script src="{{ url_for('static', filename='js/apiService.js') }}"></script>
    {% block scripts %}{% endblock %}
  </body>
</html>
